%footer
  .footer-content
    .row
      .col-md-6.footer-left
        %ul.list-inline
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Services
          %li
            %a{:href => "#"} Contact

      .col-md-6.footer-right
        %p
          %a{:href => "/"} YesPanda
          is a project maintained by David
        %p
          Powered by Ruby, Rails, MySQL and Bootstrap
    %hr
    .row
      .col-lg-12.footer-below
        %p.copyright.text-muted.small Copyright &copy; Quanta 2016-2018. All Rights Reserved
