- navigation_add 'New Product', new_product_path

%h2.page-header
  New Product
  %small Create a new product
%p.lead Create a product name (ex. JH3/JH4) to organize and manage different build

= render 'form'